<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
        <form action="/login" id="myform">
            <div class="input-fields">
                <label class="labels" for="email">Email</label>;
                <input class="try1" type="email" name="email" id="email" autocomplete="off">
            </div>
            <div class="input-fields">
                <label class="labels" for="Password">Password</label>
                <input type="password" name="password" id="password">
                <i class="fa-solid fa-eye" id="eye"></i>
                <div class="link">
                    <a href="#">Forgot your password</a>
                </div>
            </div>
        </form>
</body>
</html>