<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attandance</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <div class="main-box">


        <nav class="nav">
            <div class="logo">
                <a href="#"><img src="img/img.png" alt="logo"></a>
            </div>
            <%if(logged){%>
                <div class="login">
                    <a href="/home">Home</a>
                    <div class="icon"><a href="/home"><i class="bi bi-box-arrow-in-right"></i></a></div>
                </div>
            <%}else{%>
                    <div class="login">
                        <a href="/login">Login</a>
                        <div class="icon"><a href="/login"><i class="bi bi-box-arrow-in-right"></i></a></div>
                    </div>
            <%}%>
        </nav>

        <div class="sec1">
            <img src="img/img2.avif" alt="">
            <div class="bigt">Attendence Tracker</div>
            <button class="btn">Learn More</button>
        </div>

        <div class="sec2">
            <img src="img/img3.avif" alt="">
            <div class="bigt">What we Do</div>
            <ul class="list">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>

        <div class="sec3">
            <img src="img/img2.avif" alt="">
            <div class="bigt">Meet our Creative team</div>
            <div class="img1"><img src="" alt="mem1"></div>
            <div class="img2"><img src="" alt="mem2"></div>
            <div class="img3"><img src="" alt="mem3"></div>
            <div class="img4"><img src="" alt="mem4"></div>
        </div>

        <div class="sec4">
            <img src="img/img3.avif" alt="">
            <div class="fancy-text">Contact Us</div>
            <form action="/login" id="myform">
                <div class="input-fields">
                    <label class="labels" for="email">Name</label>;
                    <input class="try1" type="text" name="name" id="name">
                </div>
                <div class="input-fields">
                    <label class="labels" for="email">Email</label>;
                    <input class="try1" type="email" name="email" id="email" autocomplete="off">
                </div>
                <div class="input-fields">
                    <label class="labels" for="text">Message</label>
                    <input type="text" name="message" id="message">
                </div>
                <div class="input-fields1">
                    <label class="labels1" for="check">I accept the <a href="#">Terms of Service</a></label>
                    <input type="checkbox" name="check" id="check" class="check">
                </div>
            </form>
            <div class="foot">
                &#169; copyright since 2023
            </div>
        </div>
        <!-- <div class="mainContainer"> -->
    </div>





    <script src="js/base.js"></script>
</body>

</html>