<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attandance</title>
    <!-- <link rel="stylesheet" href="css/base.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="css/profile.css"/>

</head>

<body>

    <nav id="navbar">
        <div class="left">
            <a href=""><i class="bi bi-arrow-left" id="leftarrow"></i></a>
        </div>
        <div class="mid">
            Profile

        </div>
        <div class="right">
            <a href=""><i class="bi bi-house-door-fill"></i></a>
        </div>

    </nav>

    <div id="profimg">
        <div class="b1">
            <img src="" alt="">
        </div>

        <div class="b2">
            <a href="">
                <i class="bi bi-camera"></i>
            </a>
        </div>

    </div>

    <div id="detail">

        <form id="form_box">

            <!-- <div class="form_items">
                <label for="inputschoolname">School Name</label>
                <input type="text" class="form_input" id="inputschoolname" placeholder="Enter school name">

            </div> -->

            <div class="form_items">
                <label for="inputname" class="labels">Name</label>
                <input type="text" class="form_input" id="inputname">
            </div>

            <div class="form_items">
                <label for="inputenroll" class="labels">Enrollment Number</label>
                <input type="text" class="form_input" id="inputenroll">
            </div>

            <div class="form_items">
                <label for="inputemail" class="labels">Email</label>
                <input type="email" class="form_input" id="inputemail">
            </div>

            <!-- <div class="form_items">
                <label for="inputphone">Phone Number</label>
                <input type="phone" class="form_input" id="inputphone" placeholder="Enter phone number">
            </div> -->

            <input type="button" id="btn" value="Update Profile">

            <!-- <div class="bio">
                Add Biometric Here
            </div>

            <div class="arrowdown">
                <i class="bi bi-caret-down-fill"></i>
            </div> -->

            <div class="biometric">
                <a href="">
                    <i class="bi bi-fingerprint"></i>
                </a>
            </div>


        </form>


    </div>
    
    <script src="js/profile.js"></script>

</body>

</html>